body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: block;
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #04aa6d;
  color: white;
}
.navbar-right {
  float: right;
}

.main {
  margin-top: 60px;
}
@media only screen and (max-width: 675px) {
  .main {
    margin-top: 200px;
  }
}

.dropdown {
  float: left;
  /* overflow: hidden; */
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
